{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>Bambino Shop</title>
        <link rel="stylesheet" href="{% static './icons/css/materialdesignicons.min.css' %}">
        <script defer="defer" src="{% static '/js/chunk-vendors.c206bf35.js' %}"></script>
        <script defer="defer" src="{% static '/js/app.df6ee74b.js' %}"></script>
        <link href="{% static '/css/chunk-vendors.83af48fc.css' %}" rel="stylesheet">
        <link href="{% static '/css/app.58ba252b.css' %}" rel="stylesheet">
    </head>
    <body>
        <noscript>
            <strong>We're sorry but telegram-clone doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
        </noscript>
        <div id="app">

        </div>
    </body>
</html>